@import "../../../variables.module";

.button {
    font-family: 'PatrickHand-Regular', 'Arial', sans-serif;
    font-size: 19px;
    background-color: $accentColor;
    border-radius: 5px;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    padding: 15px 30px;
    transition: .35s all ease-in-out;
  }
  
  .button:hover,
  .button:active {
    background: #016d02;
    border-color: #004e02;
  }
  
  .button:focus {
    outline: none;
  }

  .button:disabled {
    background-color: #7d7d7d;
    border-color: #fff;
  }