// colors
$primaryColor: #e2f5e2;
$accentColor: #008002;
$highlightColor: #fefead;

// fonts
$serifFont1: 'Source Serif 4', 'Times New Roman', serif;
$serifFont2: 'PatrickHand-Regular', 'Arial', sans-serif;
$sansSerifFont: 'IndieFlower-Regular', Verdana, sans-serif;