@import "./variables.module";

.appContainer {
  background-color: $primaryColor;
  background-image: url('assets/images/background-aquamarine.jpg');
  font-family: $serifFont1;
  font-size: 1rem;
  padding: 10px;

  .card {
    padding: 50px 10px;
    background-color: #fff;
    background-image: url('assets/images/background-white.jpg');
  }
  
  form {
    max-width: 768px;
    margin: 0 auto;

    table {
        padding: 5px;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 100%;
        border-bottom: 5px solid $accentColor;
    
        tbody {
          background-color: rgba(255, 255, 255, .75);
          position: relative;
    
          tr {
            cursor: pointer;
    
            td {
              padding: 0;
              position: relative;
              height: 32px;
              border: 1px solid $accentColor;
              box-sizing: content-box;
    
              button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 100%;
                border: none;
                background: none;
                border-radius: 0;
                -webkit-border-radius: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                color: #000;
                padding: 0;
                text-indent: 6px;
                z-index: 1;
    
                &:focus-visible {
                  background-color: $highlightColor;
                  outline: 3px solid $accentColor;
                }
              }

              &.active {
                background-color: $highlightColor;
                outline: 1px solid $accentColor;

                input {
                  background-color: $highlightColor;
                  outline: 1px solid $accentColor;
                }
              }
            }
    
            .status {
              border-left: 2px solid $accentColor;
              position: relative;

              &.active {
                  background-color: $highlightColor;
                  outline: 3px solid $accentColor;
              }

              .statusIcon {
                display: block;
                margin: auto;
              }
    
              img {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
              }
            }
    
            .priority {
              height: 100%;
              font-family: $serifFont2;
              font-weight: bold;
              font-size: 1.05rem;
              padding: 0;
              text-align: center;
              cursor: pointer;
              padding-top: 1px;
              line-height: 1;
    
              button {
                margin-top: .5px;
                font-weight: bold;
                text-indent: 0;
              }
    
              input {
                position: absolute;
                left: 0;
                top: 0;
                border: none;
                height: 100%;
                width: 100%;
                text-align: center;
                padding: 0;
                font-weight: bold;
                font-family: $serifFont2;
                line-height: 1;
    
                 &:focus-visible {
                  background-color: $highlightColor;
                  outline: 3px solid $accentColor;
                }
              }
            }
    
            .description {
              width: calc(100% - 58px);
              border-right: 2px solid $accentColor;
              white-space: nowrap;
              font-weight: bold;
              position: relative;
              font-family: $sansSerifFont;
              font-size: 1rem;
              text-indent: 7.5px;
              line-height: 1;
    
              button {
                text-align: left;
                line-height: 1;
              }
    
              input {
                width: 100%;
                height: 100%;
                text-indent: 6px;
                border: none;
                padding: 0;
                overflow: scroll;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                line-height: 1;
    
                &:focus-visible {
                  background-color: $highlightColor;
                  outline: 3px solid $accentColor;
                }
              }
            }
          }
        }
    
        thead {
          th {
            border-bottom: 5px solid $accentColor;
    
            &:first-child {
              width: 33px;
    
              .statusTitle {
                padding: 0;
              }
            }
    
            &:nth-child(2) {
              width: 50px;
            }
    
            img {
              width: 1rem;
              vertical-align: bottom;
              padding-bottom: 2px;
            }
          }
    
          .priorityTitle {
            font-size: 1rem;
          }
    
          .descriptionTitle {
            text-align: left;
            text-indent: 10px;
            font-size: 1rem;
            white-space: nowrap;
          }
        }
      }
  }

  

  .addTask {
    max-width: 768px;
    min-width: 280px;
    margin: 35px auto 0 auto;

    h2 {
      margin: 1.25rem 0 0.25rem 0;
      font-family: $sansSerifFont;
    }

    form {

      fieldset {
        display: flex;
        justify-content: flex-start;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255, .75);
        border: 2px solid $accentColor;
      }

      select {
        margin-right: 7.5px;
        height: 40px;
        width: fit-content;
        box-sizing: border-box;
        font-family: $sansSerifFont;
        font-weight: bold;
        border: 1px solid $accentColor;
        text-align: center;

        &:focus-visible {
          outline: 3px solid $accentColor;
        }
      }

      input[name=priority] {
        width: 60px;
        margin-right: 7.5px;
        text-align: center;
        height: 40px;
        box-sizing: border-box;
        font-family: $sansSerifFont;
        font-weight: bold;
        line-height: 1;
        border: 1px solid $accentColor;
        overflow: scroll;
        font-family: $serifFont2;

         &:focus-visible {
          background-color: $highlightColor;
          outline: 3px solid $accentColor;
        }
      }

      input[name=description] {
        width: calc(100% - 387px);
        margin-right: 7.5px;
        white-space: nowrap;
        font-weight: bold;
        position: relative;
        font-family: $sansSerifFont;
        font-size: 1rem;
        text-indent: 7.5px;
        overflow: scroll;
        padding: 0;
        height: 40px;
        box-sizing: border-box;
        line-height: 1;
        border: 1px solid $accentColor;

        &:focus-visible {
          background-color: $highlightColor;
          outline: 3px solid $accentColor;
        }
      }

      button {
        width: 180px;
        text-transform: uppercase;
      }
    }
  }
}

.tasksLoading, .tasksError {
  text-align: center;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $accentColor;
}

.tasksError {
  color: red;
}

@media screen and (max-width: 767px) {
  .appContainer .card {
    border-radius: 0;
    
    .addTask {
      margin: 25px auto 0 auto;

      form fieldset {
        flex-wrap: wrap;
        padding: 0.7em .75em 1.25em;

        select {
          margin: 5px 5px 5px 0;

          option:disabled {
            color: #808080;
          }
        }

        input[name=priority] {
          margin: 5px 0 5px 5px;
        }

        input[name=description] {
          width: 100%;
          margin: 5px 0 5px 0;
        }

        button {
          margin: 5px 0 0 0;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .appContainer {
    .card {
      margin: -10px;
      height: 100vh;
    }
  }
}